
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }

.nav-wrapper {
  padding-left: 2em;
}

.row small {
  padding-left: 2em;
  color: white;
}

.card-image  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6em;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  padding-left: 2em;
}

#score {
  font-size: 2em;
}

.jazz-hands {
  height: 20em;
}

#game-field {
  display: flex;
  justify-content: center;
  font-size: 7em;
}

.description {
  font-size: 1.5em;
}

.full-background {
  display: flex;
  align-items: center;
  background-image:url(maxresdefault.jpg);;
}
